/*
	Index Page
*/

body {
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/*
	Home Page
*/

#main {
    flex: 1 0 auto;
}

#header {
	position: fixed;
  	width: 100%;
  	left: 0;
  	top: 0;
  	z-index: 10;
  	height: 65px;
}

#main {
	padding-top: 65px;
}

#main, #footer {
	padding-left: 250px; 
}

@media only screen and (max-width: 992px) { 
	#main, #footer { 
		padding-left: 0px; 
	} 
}

.page-footer ul li{
	clear: both;
}

.page-footer ul li i {
	font-size: 20px;
}

.input-field label {
	left: 0;
}

.input-field.col label {
	left: 0.75rem;
}


.page-footer p {
	font-size: 16px;

}

/*
	Header
*/

.top-nav {
	height: 65px;
}

ul.side-nav.fixed { 
	top: 64px; 
}

ul.side-nav.fixed li { 
	line-height: 44px; 
}

ul.side-nav.fixed a { 
	line-height: 44px; 
	height: 44px; 
	padding-right: 0px !Important;
}

ul.side-nav.fixed { 
	overflow: hidden; 
	outline: none; 
	padding-bottom: 125px; 
}

ul.side-nav.fixed ul.collapsible-accordion { 
	background-color: #FFF; 
}

.top-nav .nav-wrapper .page-title { 
	font-size: 24px; 
}

.nav-wrapper .top-nav-actions a { 
	margin-right: 10px; 
}

.nav-wrapper .top-nav-actions a:last-child { 
	margin-right: 0px; 
}

.nav-wrapper .top-nav-actions i { 
	display: inline-block; 
}

.nav-wrapper ul li a {
	position: relative;
}

.nav-wrapper ul li a span {
	position: absolute;
  	line-height: 12px;
  	font-size: 12px;
  	background-color: rgb(244, 67, 54);
  	padding: 3px 6px;
  	top: 8px;
  	right: 6px;
}

.top-nav .header-container { 
	padding-left: 28px; 
	padding-right: 25px; 
}

ul.side-nav.fixed li.logo { 
	text-align: center; 
	padding-top: 25px; 
	margin-bottom: 16px; 
	border-bottom: 1px solid #ddd; 
}

ul.side-nav.fixed li.logo:hover { 
	background-color: transparent; 
}

ul.side-nav.fixed li.logo {
  background-image: url(../images/profileBg.jpg);
  max-width: 100%;
  height: auto;
  background-position: center;
}

#logo-container {
	display: block;
	text-align: left;
	height: 100px;
	line-height: 1.5;
	padding: 0 15px;
}

#logo-container img {
	max-height: 56px;
}

a.button-collapse.top-nav { 
	position: absolute; 
	text-align: center; 
	height: 48px; 
	width: 48px; 
	left: 0; 
	top: 0; 
	float: none; 
	margin-left: 1.5rem; 
	color: #fff; 
	font-size: 32px; 
	z-index: 2; 
}

ul.side-nav.fixed ul.collapsible-accordion a.collapsible-header:after { 
	speak: none; 
	display: inline-block; 
	font-family: "Material-Design-Icons"; 
	font-style: normal; 
	font-weight: normal; 
	font-variant: normal; 
	text-rendering: auto; 
	content: "\e7c1"; 
	float:right; 
	font-size: 20px; 
}

ul.side-nav.fixed ul.collapsible-accordion a.collapsible-header.active:after { 
	speak: none; 
	display: inline-block; 
	font-family: "Material-Design-Icons"; 
	font-style: normal; 
	font-weight: normal; 
	font-variant: normal; 
	text-rendering: auto; 
	content: "\e7c4"; 
	float:right; 
	font-size: 20px; 
}

ul.side-nav.fixed li a span { 
	font-size: 17px; 
	margin-right: 9px; 
}

ul.side-nav.fixed .collapsible-body li a { 
	margin: 0 1rem 0 2.8rem; 
}

#sidenav-overlay {
	z-index: 9;
	opacity: 0 !Important;
}


.notification-header {
	text-align: center !Important;
	background-color: #fafafa;
	font-size: 17px;
}

.notification-item .visual {
	padding: 0 15px;
}

.notification-item .detail span {
	font-size: 14px;
}

.notification-item .detail span:last-child{
	font-size: 13px;
}

#chat-nav {
	top: 65px;
}

#chat-nav li:hover {
	background-color: transparent;
}

#chat-nav .chat-footer {
	position: absolute;
	bottom: 115px;
}

#chat-nav .send-action {
	position: absolute;
	right: -10px;
	bottom: 37px;
	background: transparent;
	border: none;
}

#chat-nav .send-action i {
	font-size: 25px;	
}


#chat-nav .chat-header {
	padding-top: 10px;
	padding-bottom: 5px;
}

#chat-nav .chat-header img {
	height: 56px;
	width: 56px;
	float: left;
}

#chat-nav .chat-header span {
 	margin-top: 16px;
 	float: left;
 	margin-left: 15px;
 	font-size:17px;
}

.profile-menu {
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height 0.3s;
	-moz-transition: max-height 0.3s;
	transition: max-height 0.3s;
}

.profile-menu.open {
	max-height: 200px;
	border-bottom: 1px solid #D0D1CB;
}

.profile-menu:hover {
	background-color: #fff !Important;
}

.profile-toggle a {
	height: 38px !Important;
	line-height: 38px !Important;
	background-color: rgba(0, 0, 0, 0.37);
	margin-left: -30px;
	margin-right: -30px;
	padding-left: 32px !Important;
}

.profile-toggle a:after {
	speak: none; 
	display: inline-block; 
	font-family: "Material-Design-Icons"; 
	font-style: normal; 
	font-weight: normal; 
	font-variant: normal; 
	text-rendering: auto; 
	float: right;
	content: "\e8a3";	
	padding-right: 15px;
	font-size: 25px;
}

.profile-toggle a.open:after {
	speak: none; 
	display: inline-block; 
	font-family: "Material-Design-Icons"; 
	font-style: normal; 
	font-weight: normal; 
	font-variant: normal; 
	text-rendering: auto; 
	float: right;
	content: "\e8a4";	
	padding-right: 15px;
	font-size: 25px;
}

/*
	Common
*/

@media only screen and (min-width: 993px) { 
	.container { 
		width: 95%; 
	} 
}

.content-header {
	margin-bottom: 15px;
}

.content-title { 
	font-size: 1.5rem; 
	margin-bottom: 2px;
}


/*
	Order, Customer
*/

tr th:first-child { 
	padding-left: 20px; 
}

tr td:first-child { 
	padding-left: 20px; 
}

table tbody tr:last-child {
	border-bottom: none;
}

table tbody tr:hover {
	background-color: #fafafa;
}

th {
	cursor: pointer;
}

th:hover {
	background-color: #f4f4f4;
}

th, td {
	padding: 15px 10px;
}

th.active-sort-column:after {
	speak: none; 
	display: inline-block; 
	font-family: "Material-Design-Icons"; 
	font-style: normal; 
	font-weight: normal; 
	font-variant: normal; 
	text-rendering: auto; 
	float: right;
	content: "\e8a5";
	transform: rotate(-90deg);
	-webkit-transform: rotate(90deg);
}

.card.custom-shadow {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.pagination li.active {
	background-color: #4db6ac;
}

/*
	Activate
*/

.card {
	display: block;
}

.card.activate-card {
	cursor: pointer;
}

.card.activate-card .card-content {
	min-height: 160px;
}

.card-icon {
	font-size: 160px;
  	position: absolute;
  	top: -44px;
  	opacity: 0.1;
  	left: 32%;
}

.card-action.activate-action {
	background-color: rgba(0, 0, 0, 0.12);
}

.card.activate-card:hover {
	box-shadow: 0 27px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22);
}

/*
	Category
*/
.card.no-shadow {
	box-shadow: none;
}

.card.save-category-card .card-image {
	padding: 0 20px;
}

.card.save-category-card .card-image img {
	width: auto;
}

.card.category-card {
	box-shadow: none;
	text-align: center;
	overflow: visible;
}

.card.category-card .dropdown-content {
	z-index: 1;
}

.card.category-card .card-content {
	min-height: 60px;
	padding: 0;
	padding-top: 5px;
	position: relative;
	margin-top: 20px;
}

.card.category-card .card-image {
	max-height: 200px;
	padding-top: 5px;
}

.card.category-card .card-title {
	font-size: 20px;
	line-height: 20px;
}

.card.category-card .card-image a {
	display: block;
}
.card.category-card .card-image img {
	width: auto;
	max-height: 200px;
} 

.card.category-card .card-content .edit-category {
	position: absolute;
	right: 10px;
	top: -30px;
}

.card.category-card .card-content .edit-category:hover {
	box-shadow: 0 27px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22);
}

.card.category-card .card-content .edit-category i {
	font-size: 18px;
}

@media (min-width: 993px) and (max-width: 1170px) {
	.category-content ul li {
		width: 33.3333% !Important;
	}
}


@media (min-width: 600px) and (max-width: 780px) {
	.category-content ul li {
		width: 50% !Important;
	}
}


/*
	customer
*/

.collection .customer-item {
	display: block;
	float: left;
	color: rgba(0,0,0,0.87);
	cursor: pointer;
}

.collection .secondary-content div {
	padding-right: 1rem;
}

.collection .secondary-content a {
	padding: 0 1rem;
} 

.collection .secondary-content a i {
	vertical-align: middle;
}

/*
	order detail
*/

.order-detail .collection, .product-details .collection {
	border: none;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
}

.order-detail .collection .row {
	margin-bottom: 2px;
}

.delivery-detail {
	padding-top: 5px !Important;
	padding-left: 40px !Important;
}

@media (min-width: 993px) {
	.delivery-detail {
		padding-left:60px !Important;
	}
}

@media (min-width: 600px) and (max-width: 780px){
	.delivery-detail, .order-detail {
		width: 100% !Important;
	}
}

.collection-item-image {
	float: left;
	width: 200px;
}

.collection-item-image a {
	display: block;
}

.collection-item-image img {
	max-height: 120px;
}

.collection-item-detail a {
	font-size: 18px;
}

.collection-item-detail {
	float: left;
	width: 300px;
}

.collection-item-detail label {
	font-size: 15px;
}

.collection-item-price {
	float: right;
	width: 150px;
}

@media (max-width: 993px) {
	.collection-item-price {
		width: auto;
	}	
}

@media (max-width: 680px) {
	.collection-item-image {
		width: 100px;		
	}

	.collection-item-image img {
		max-height: 80px;		
	}

	.collection-item-detail {
		width: 200px;
	}

	.collection-item-price {
		width: auto;
	}
}

/*
	Customer Detail
*/

.customer-detail .collection {
	border: none;
}


.collection .notification-item  {
	color: rgba(0,0,0,0.87);
	display: block;
}

.collection-item.avatar:hover {
	background-color: #fafafa;
}


/*
	Notifications
*/

.card.notification-card .card-action a {
	color: #039be5;
	text-transform: none;
}

.collection.notification-collection .collection-item.avatar p {
	font-size: 14px;
}


/*
	Login/Register
*/

.card.login-content, .card.register-content {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding: 35px 55px 35px;
	overflow: visible;
}

.card.login-content i.prefix, .card.register-content i.prefix  {
	color: #555555;
}

body.login-content, body.register-content {
	padding-top: 60px;
}

body.login-content:before, body.register-content:before {
	height: 50%;
  	width: 100%;
  	position: absolute;
  	top: 0;
  	left: 0;
  	background: #00bcd4;
  	content: "";
  	z-index: 0;
}

.card.login-content .social-login, .card.register-content .social-register {
	margin-top: 20px;
}

.card.login-content .social-login .btn, .card.register-content .social-register .btn {
	padding-top: 8px;
}

.card.login-content .social-login .btn.facebook, .card.register-content .social-register .btn.facebook {
	background-color: #2f4b93;
}

.card.login-content .social-login .btn.google-plus, .card.register-content .social-register .btn.google-plus {
	background-color: #be4830;
}

.card.login-content .social-login .btn.twitter, .card.register-content .social-register .btn.twitter {
	background-color: #55acee;
}

.card.login-content .social-login .btn.linkedin, .card.register-content .social-register .btn.linkedin {
	background-color: #0077b5;
}

.login-navigation , .register-navigation {
	text-align: center;
	color: #445544;
}

@media(max-width: 400px) {
	.card.login-content, .card.register-content {
		padding: 15px;
	}

	.card.login-content .social-login .btn, .card.register-content .social-register .btn {
		padding: 0 1rem;
		padding-top: 5px;
		width: 60px;
		height: 54px;
	}
}

.or-separator {
  	width: 28%;
  	height: 1px;
  	background-color: #b4b4b4;
  	margin: auto;
  	clear: both;
  	width: 50%;
  	margin-top: 60px;
}

.or-separator:before, 
.or-separator:after {
	display: table;
  	line-height: 0;
  	content: "";
}

.or-block {
	margin: auto;
  	width: 50px;
  	margin-top: -7px;
  	height: 16px;
  	background-color: #fff;
  	text-align: center;
  	font-size: 12px;
}


/*
	List Product
*/

.listProduct .card .card-image a {
	display: block;
	height: 200px;
}

.listProduct .card .card-title {
	line-height: 15px;
	font-size: 15px;
}

.listProduct .card .card-content {
	padding: 10px 20px;
	height: 110px;
}


/*
	Store
*/

.store-content {
	max-width: 500px;
	padding: 40px;
	margin: 0 auto;
	margin-top: 40px;
}

.input-field .prefix ~ select {
	margin-left: 3rem;
  	width: 92%;
  	width: calc(100% - 3rem);
}

.store-content button[type=submit] {
	margin-top: 20px;
}



/*
	Create Product
*/

.product-detail {
	padding-left: 15px;
}


/*
	Files
*/

.files .drop-box {
	height: 200px;
	border: 2px dotted rgb(77, 182, 172); 
	text-align: center;
}

.files .drop-box.error {
	border: 2px dotted #F44336; 		
}

.files .drop-box .select-file {
	height: 200px;
  	padding-top: 70px;
}

.files ul.tabs {
	margin-bottom: 10px;
}

.files-header {
	position: relative;
}

.files-header a {
	position: absolute;
	top: 0;
	right: 0;
}

#resize-heading {
	margin-bottom: 10px;
}

.preview-container {
	position: relative;
	overflow: hidden;
	padding: 0 !Important;
}

.resize-container {
    position: relative;
    display: inline-block;
    cursor: move;
    margin: 0 auto;
}

.resize-container img {
    display: block
}

.resize-container:hover img,
.resize-container:active img {
    outline: 2px dashed rgba(222,60,80,.9);
}

.resize-handle-ne,
.resize-handle-se,
.resize-handle-nw,
.resize-handle-sw,
.resize-handle-e,
.resize-handle-w,
.resize-handle-n,
.resize-handle-s {
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    background: rgba(222,60,80,.9);
    z-index: 999;
}

.resize-handle-nw {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}

.resize-handle-sw {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}

.resize-handle-ne {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}

.resize-handle-se {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}

.resize-handle-e {
	top: 50%;
	right: -5px;
	cursor: e-resize;
}

.resize-handle-w {
	top: 50%;
	left: -5px;
	cursor: w-resize;
}

.resize-handle-n {
	left: 50%;
	top: -5px;	
	cursor: n-resize;
}

.resize-handle-s {
	left: 50%;
	bottom: -5px;
	cursor: s-resize;
}


.overlay {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 9;
	background-color: rgba(0,0,0,0.3);
	border: solid 2px rgba(222,60,80,.9);
	box-sizing: content-box;
	pointer-events: none;
}

.js-crop {
	position: absolute;
	vertical-align: bottom;
	right: 65px;
	top: 14px;
}






/*
	Dashboard
*/

.dashboard .card-content {
	position: relative;
}

.dashboard .card-content .number {
	float: right;
  	margin-top: 0;
  	font-weight: 300;
}

.dashboard .card-content .icon {
	position: absolute;
  	opacity: 0.4;
  	font-size: 67px;
  	top: 10px;
  	left: 20px;
  	line-height: 1;
}

.dashboard .card-content .card-title {
	clear: both;
  	display: block;
  	line-height: 30px;
}

@media(min-width: 600px) and (max-width: 900px) {
	.dashboard .quick-view {
		width: 50% !Important;
	}
}


